{
  "plugins": ["prettier-plugin-embed", "prettier-plugin-tailwindcss"],
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "quoteProps": "preserve",
  "printWidth": 90,
  "overrides": [
    {
      "files": ["packages/epos/src/epos/epos.ts"],
      "options": { "printWidth": 100 }
    }
  ]
}
