{
  admin off
}

epos.dev {
  root * /srv/apps/docs
  try_files {path} /404.html
  file_server
}

app.epos.dev {
  root * /srv/apps/shell
  file_server
}

get.epos.dev {
  redir https://chromewebstore.google.com/detail/epos/kliobnfbhleelcpnfimenebpgffbclck permanent
}
