@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 500px;
  --color-brand: #e8ff00;
  --color-dim: var(--color-dim);
  --color-divider: var(--vp-c-divider);
  --color-main: var(--color-main);
  --spacing-page: calc(1280px + 1px); /* Extra 1px to overlap the lattice */
}

@media (width <= 1280px) {
  :root {
    --spacing-page: calc(864px + 1px);
  }
}

@media (width <= 1024px) {
  :root {
    --spacing-page: calc(768px + 1px);
  }
}

@media (width <= 768px) {
  :root {
    --spacing-page: 100%;
  }
}

html:not(.dark) {
  --color-dim: var(--color-zinc-500);
  --color-main: var(--color-black);
  --vp-c-brand-1: var(--color-emerald-600);
  --vp-c-brand-2: var(--color-emerald-600);
  --vp-c-brand-3: var(--color-emerald-600);
  --vp-c-gutter: var(--color-zinc-200);
}

html.dark {
  --color-dim: var(--color-zinc-500);
  --color-main: var(--color-white);
  --vp-button-brand-active-text: var(--color-black);
  --vp-button-brand-hover-text: var(--color-black);
  --vp-button-brand-text: var(--color-black);
  --vp-c-brand-1: var(--color-brand);
  --vp-c-brand-2: var(--color-brand);
  --vp-c-brand-3: var(--color-brand);
  --vp-c-gutter: var(--vp-c-divider);
}

@layer base {
  * {
    border-color: var(--vp-c-divider);
  }
}

.Layout:not(:has(.has-sidebar)) {
  .VPNav {
    @apply relative mx-auto max-w-page md:border-x;
  }
  .VPNav .content-body {
    @apply m-0 p-0;
  }
  .VPNav .divider {
    @apply hidden;
  }
  .VPContent {
    @apply pt-0;
  }
  strong {
    @apply font-normal text-main;
  }
}

.VPSidebar {
  @apply pb-15!;
}

.VPDoc {
  strong {
    @apply font-medium text-main;
  }
  a {
    @apply font-normal underline-offset-4;
  }
  h1 {
    @apply text-[40px]/[1.6] font-medium;
  }
  h2 {
    @apply text-[30px]/[1.6] font-medium;
  }
  h3 {
    @apply font-medium;
  }
  h4 {
    @apply font-medium;
  }
}
