/* https://ui.shadcn.com/create?base=radix&template=vite&font=jetbrains-mono&style=lyra&iconLibrary=tabler */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap')
reference;

@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme) prefix(dk);
@import 'tailwindcss/utilities.css' layer(utilities) prefix(dk);

@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
  --dk-background: oklch(1 0 0);
  --dk-foreground: oklch(0.145 0 0);
  --dk-card: oklch(1 0 0);
  --dk-card-foreground: oklch(0.145 0 0);
  --dk-popover: oklch(1 0 0);
  --dk-popover-foreground: oklch(0.145 0 0);
  --dk-primary: oklch(0.205 0 0);
  --dk-primary-foreground: oklch(0.985 0 0);
  --dk-secondary: oklch(0.97 0 0);
  --dk-secondary-foreground: oklch(0.205 0 0);
  --dk-muted: oklch(0.97 0 0);
  --dk-muted-foreground: oklch(0.556 0 0);
  --dk-accent: oklch(0.97 0 0);
  --dk-accent-foreground: oklch(0.205 0 0);
  --dk-destructive: oklch(0.58 0.22 27);
  --dk-border: oklch(0.922 0 0);
  --dk-input: oklch(0.922 0 0);
  --dk-ring: oklch(0.708 0 0);
  --dk-chart-1: oklch(0.809 0.105 251.813);
  --dk-chart-2: oklch(0.623 0.214 259.815);
  --dk-chart-3: oklch(0.546 0.245 262.881);
  --dk-chart-4: oklch(0.488 0.243 264.376);
  --dk-chart-5: oklch(0.424 0.199 265.638);
  --dk-radius: 0.625rem;
  --dk-sidebar: oklch(0.985 0 0);
  --dk-sidebar-foreground: oklch(0.145 0 0);
  --dk-sidebar-primary: oklch(0.205 0 0);
  --dk-sidebar-primary-foreground: oklch(0.985 0 0);
  --dk-sidebar-accent: oklch(0.97 0 0);
  --dk-sidebar-accent-foreground: oklch(0.205 0 0);
  --dk-sidebar-border: oklch(0.922 0 0);
  --dk-sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --dk-background: oklch(0.145 0 0);
  --dk-foreground: oklch(0.985 0 0);
  --dk-card: oklch(0.205 0 0);
  --dk-card-foreground: oklch(0.985 0 0);
  --dk-popover: oklch(0.205 0 0);
  --dk-popover-foreground: oklch(0.985 0 0);
  --dk-primary: oklch(0.87 0 0);
  --dk-primary-foreground: oklch(0.205 0 0);
  --dk-secondary: oklch(0.269 0 0);
  --dk-secondary-foreground: oklch(0.985 0 0);
  --dk-muted: oklch(0.269 0 0);
  --dk-muted-foreground: oklch(0.708 0 0);
  --dk-accent: oklch(0.371 0 0);
  --dk-accent-foreground: oklch(0.985 0 0);
  --dk-destructive: oklch(0.704 0.191 22.216);
  --dk-border: oklch(1 0 0 / 10%);
  --dk-input: oklch(1 0 0 / 15%);
  --dk-ring: oklch(0.556 0 0);
  --dk-chart-1: oklch(0.809 0.105 251.813);
  --dk-chart-2: oklch(0.623 0.214 259.815);
  --dk-chart-3: oklch(0.546 0.245 262.881);
  --dk-chart-4: oklch(0.488 0.243 264.376);
  --dk-chart-5: oklch(0.424 0.199 265.638);
  --dk-sidebar: oklch(0.205 0 0);
  --dk-sidebar-foreground: oklch(0.985 0 0);
  --dk-sidebar-primary: oklch(0.488 0.243 264.376);
  --dk-sidebar-primary-foreground: oklch(0.985 0 0);
  --dk-sidebar-accent: oklch(0.269 0 0);
  --dk-sidebar-accent-foreground: oklch(0.985 0 0);
  --dk-sidebar-border: oklch(1 0 0 / 10%);
  --dk-sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans: 'Inter', monospace;
  --color-sidebar-ring: var(--dk-sidebar-ring);
  --color-sidebar-border: var(--dk-sidebar-border);
  --color-sidebar-accent-foreground: var(--dk-sidebar-accent-foreground);
  --color-sidebar-accent: var(--dk-sidebar-accent);
  --color-sidebar-primary-foreground: var(--dk-sidebar-primary-foreground);
  --color-sidebar-primary: var(--dk-sidebar-primary);
  --color-sidebar-foreground: var(--dk-sidebar-foreground);
  --color-sidebar: var(--dk-sidebar);
  --color-chart-5: var(--dk-chart-5);
  --color-chart-4: var(--dk-chart-4);
  --color-chart-3: var(--dk-chart-3);
  --color-chart-2: var(--dk-chart-2);
  --color-chart-1: var(--dk-chart-1);
  --color-ring: var(--dk-ring);
  --color-input: var(--dk-input);
  --color-border: var(--dk-border);
  --color-destructive: var(--dk-destructive);
  --color-accent-foreground: var(--dk-accent-foreground);
  --color-accent: var(--dk-accent);
  --color-muted-foreground: var(--dk-muted-foreground);
  --color-muted: var(--dk-muted);
  --color-secondary-foreground: var(--dk-secondary-foreground);
  --color-secondary: var(--dk-secondary);
  --color-primary-foreground: var(--dk-primary-foreground);
  --color-primary: var(--dk-primary);
  --color-popover-foreground: var(--dk-popover-foreground);
  --color-popover: var(--dk-popover);
  --color-card-foreground: var(--dk-card-foreground);
  --color-card: var(--dk-card);
  --color-foreground: var(--dk-foreground);
  --color-background: var(--dk-background);
  --radius-sm: calc(var(--dk-radius) - 4px);
  --radius-md: calc(var(--dk-radius) - 2px);
  --radius-lg: var(--dk-radius);
  --radius-xl: calc(var(--dk-radius) + 4px);
  --radius-2xl: calc(var(--dk-radius) + 8px);
  --radius-3xl: calc(var(--dk-radius) + 12px);
  --radius-4xl: calc(var(--dk-radius) + 16px);
}

/* MARK: Adjustments
// ============================================================================ */

@theme inline {
  --spacing: 4px;
}

:root {
  --dk-brand: #e9ff01;
}
