/* https://ui.shadcn.com/create?base=radix&template=vite&font=inter&style=lyra&iconLibrary=lucide */

@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme) prefix(dk);
@import 'tailwindcss/utilities.css' layer(utilities) prefix(dk);

@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
  --dk-background: oklch(1 0 0);
  --dk-foreground: oklch(0.13 0.028 261.692);
  --dk-card: oklch(1 0 0);
  --dk-card-foreground: oklch(0.13 0.028 261.692);
  --dk-popover: oklch(1 0 0);
  --dk-popover-foreground: oklch(0.13 0.028 261.692);
  --dk-primary: oklch(0.21 0.034 264.665);
  --dk-primary-foreground: oklch(0.985 0.002 247.839);
  --dk-secondary: oklch(0.967 0.003 264.542);
  --dk-secondary-foreground: oklch(0.21 0.034 264.665);
  --dk-muted: oklch(0.967 0.003 264.542);
  --dk-muted-foreground: oklch(0.551 0.027 264.364);
  --dk-accent: oklch(0.967 0.003 264.542);
  --dk-accent-foreground: oklch(0.21 0.034 264.665);
  --dk-destructive: oklch(0.577 0.245 27.325);
  --dk-border: oklch(0.928 0.006 264.531);
  --dk-input: oklch(0.928 0.006 264.531);
  --dk-ring: oklch(0.707 0.022 261.325);
  --dk-chart-1: oklch(0.646 0.222 41.116);
  --dk-chart-2: oklch(0.6 0.118 184.704);
  --dk-chart-3: oklch(0.398 0.07 227.392);
  --dk-chart-4: oklch(0.828 0.189 84.429);
  --dk-chart-5: oklch(0.769 0.188 70.08);
  --dk-radius: 0.625rem;
  --dk-sidebar: oklch(0.985 0.002 247.839);
  --dk-sidebar-foreground: oklch(0.13 0.028 261.692);
  --dk-sidebar-primary: oklch(0.21 0.034 264.665);
  --dk-sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --dk-sidebar-accent: oklch(0.967 0.003 264.542);
  --dk-sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --dk-sidebar-border: oklch(0.928 0.006 264.531);
  --dk-sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --dk-background: oklch(0.13 0.028 261.692);
  --dk-foreground: oklch(0.985 0.002 247.839);
  --dk-card: oklch(0.21 0.034 264.665);
  --dk-card-foreground: oklch(0.985 0.002 247.839);
  --dk-popover: oklch(0.21 0.034 264.665);
  --dk-popover-foreground: oklch(0.985 0.002 247.839);
  --dk-primary: oklch(0.928 0.006 264.531);
  --dk-primary-foreground: oklch(0.21 0.034 264.665);
  --dk-secondary: oklch(0.278 0.033 256.848);
  --dk-secondary-foreground: oklch(0.985 0.002 247.839);
  --dk-muted: oklch(0.278 0.033 256.848);
  --dk-muted-foreground: oklch(0.707 0.022 261.325);
  --dk-accent: oklch(0.278 0.033 256.848);
  --dk-accent-foreground: oklch(0.985 0.002 247.839);
  --dk-destructive: oklch(0.704 0.191 22.216);
  --dk-border: oklch(1 0 0 / 10%);
  --dk-input: oklch(1 0 0 / 15%);
  --dk-ring: oklch(0.551 0.027 264.364);
  --dk-chart-1: oklch(0.488 0.243 264.376);
  --dk-chart-2: oklch(0.696 0.17 162.48);
  --dk-chart-3: oklch(0.769 0.188 70.08);
  --dk-chart-4: oklch(0.627 0.265 303.9);
  --dk-chart-5: oklch(0.645 0.246 16.439);
  --dk-sidebar: oklch(0.21 0.034 264.665);
  --dk-sidebar-foreground: oklch(0.985 0.002 247.839);
  --dk-sidebar-primary: oklch(0.488 0.243 264.376);
  --dk-sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --dk-sidebar-accent: oklch(0.278 0.033 256.848);
  --dk-sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --dk-sidebar-border: oklch(1 0 0 / 10%);
  --dk-sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  --font-sans: 'Inter', monospace;
  --color-sidebar-ring: var(--dk-sidebar-ring);
  --color-sidebar-border: var(--dk-sidebar-border);
  --color-sidebar-accent-foreground: var(--dk-sidebar-accent-foreground);
  --color-sidebar-accent: var(--dk-sidebar-accent);
  --color-sidebar-primary-foreground: var(--dk-sidebar-primary-foreground);
  --color-sidebar-primary: var(--dk-sidebar-primary);
  --color-sidebar-foreground: var(--dk-sidebar-foreground);
  --color-sidebar: var(--dk-sidebar);
  --color-chart-5: var(--dk-chart-5);
  --color-chart-4: var(--dk-chart-4);
  --color-chart-3: var(--dk-chart-3);
  --color-chart-2: var(--dk-chart-2);
  --color-chart-1: var(--dk-chart-1);
  --color-ring: var(--dk-ring);
  --color-input: var(--dk-input);
  --color-border: var(--dk-border);
  --color-destructive: var(--dk-destructive);
  --color-accent-foreground: var(--dk-accent-foreground);
  --color-accent: var(--dk-accent);
  --color-muted-foreground: var(--dk-muted-foreground);
  --color-muted: var(--dk-muted);
  --color-secondary-foreground: var(--dk-secondary-foreground);
  --color-secondary: var(--dk-secondary);
  --color-primary-foreground: var(--dk-primary-foreground);
  --color-primary: var(--dk-primary);
  --color-popover-foreground: var(--dk-popover-foreground);
  --color-popover: var(--dk-popover);
  --color-card-foreground: var(--dk-card-foreground);
  --color-card: var(--dk-card);
  --color-foreground: var(--dk-foreground);
  --color-background: var(--dk-background);
  --radius-sm: calc(var(--dk-radius) - 4px);
  --radius-md: calc(var(--dk-radius) - 2px);
  --radius-lg: var(--dk-radius);
  --radius-xl: calc(var(--dk-radius) + 4px);
  --radius-2xl: calc(var(--dk-radius) + 8px);
  --radius-3xl: calc(var(--dk-radius) + 12px);
  --radius-4xl: calc(var(--dk-radius) + 16px);
}

/* MARK: Custom
// ============================================================================ */

@theme inline {
  --dk-spacing: 4px;
}

:root {
  --dk-brand: #e9ff01;
}
