@import 'tailwindcss';

html:not(.dark) {
  --vp-c-brand-1: var(--color-teal-600);
  --vp-c-brand-2: var(--color-teal-600);
  --vp-c-brand-3: var(--color-teal-600);
}

html.dark {
  --vp-c-brand-1: hsl(65 100% 49%);
  --vp-c-brand-2: hsl(65 100% 49%);
  --vp-c-brand-3: hsl(65 100% 49%);
  --vp-button-brand-text: var(--color-black);
  --vp-button-brand-hover-text: var(--color-black);
}

.main {
  .name {
    @apply font-semibold;
  }
  .text {
    @apply font-medium;
  }
  .tagline {
    @apply font-normal!;
  }
}

.vp-doc {
  strong {
    @apply font-medium text-black dark:text-white;
  }

  h1 {
    @apply text-4xl/[1.6] font-medium;
  }

  h2 {
    @apply text-3xl/[1.6] font-medium;
  }

  h3 {
    @apply font-medium;
  }

  h4 {
    @apply font-medium;
  }
}

.landing-page {
  :where(*, *::before, *::after) {
    border-radius: 0 !important;
  }

  .VPDoc,
  .container,
  .content,
  .content-container {
    max-width: none !important;
  }

  .VPDoc {
    padding: 0 !important;
  }

  .vp-doc {
    @apply max-w-none px-0! py-0!;
  }

  .vp-doc h1,
  .vp-doc h2,
  .vp-doc h3,
  .vp-doc p {
    @apply mt-0 mb-0;
  }

  .vp-doc a {
    @apply no-underline;
  }

  .vp-doc pre {
    @apply mt-0 mb-0 font-mono;
  }
}
