@import 'tailwindcss';

html:not(.dark) {
  --vp-c-brand-1: var(--color-teal-600);
  --vp-c-brand-2: var(--color-teal-600);
  --vp-c-brand-3: var(--color-teal-600);
}

html.dark {
  --vp-c-brand-1: hsl(65 100% 49%);
  --vp-c-brand-2: hsl(65 100% 49%);
  --vp-c-brand-3: hsl(65 100% 49%);
  --vp-button-brand-text: var(--color-black);
  --vp-button-brand-hover-text: var(--color-black);
  --vp-button-brand-active-text: var(--color-black);
}

.main {
  .name {
    @apply font-semibold;
  }
  .text {
    @apply font-medium;
  }
  .tagline {
    @apply font-normal!;
  }
}

.vp-doc {
  strong {
    @apply font-medium text-black dark:text-white;
  }

  h1 {
    @apply text-[40px]/[1.6] font-medium;
  }

  h2 {
    @apply text-[30px]/[1.6] font-medium;
  }

  h3 {
    @apply font-medium;
  }

  h4 {
    @apply font-medium;
  }
}

.VPSidebar {
  @apply pb-15!;
}
